<div class="bg-white modal-size pt-4 px-3">

    <div class="d-flex justify-content-between">

        <span class="f-size-20px fw-400 secundary-text">Termos de Uso</span>
        <img src="./assets/icons/x-red.svg" (click)="closeModal()">


    </div>

    <p>Estes Termos de Uso (“Termos”) descrevem as condições de acesso e utilização do Portal do Bolsista,
        plataforma que visa conectar estudantes de baixa renda com oportunidades de bolsas de estudo socioeconômicas
        em instituições educacionais. Ao acessar ou utilizar o Portal do Bolsista, você concorda integralmente com
        estes Termos, portanto, leia-os atentamente. Caso não concorde com algum dos termos, não utilize os
        serviços.
        Estes Termos de Uso (“Termos”) descrevem as condições de acesso e utilização do Portal do Bolsista,
        plataforma que visa conectar estudantes de baixa renda com oportunidades de bolsas de estudo socioeconômicas
        em instituições educacionais. Ao acessar ou utilizar o Portal do Bolsista, você concorda integralmente com
        estes Termos, portanto, leia-os atentamente. Caso não concorde com algum dos termos, não utilize os
        serviços.
        Estes Termos de Uso (“Termos”) descrevem as condições de acesso e utilização do Portal do Bolsista,
        plataforma que visa conectar estudantes de baixa renda com oportunidades de bolsas de estudo socioeconômicas
        em instituições educacionais. Ao acessar ou utilizar o Portal do Bolsista, você concorda integralmente com
        estes Termos, portanto, leia-os atentamente. Caso não concorde com algum dos termos, não utilize os
        serviços.
        Estes Termos de Uso (“Termos”) descrevem as condições de acesso e utilização do Portal do Bolsista,
        plataforma que visa conectar estudantes de baixa renda com oportunidades de bolsas de estudo socioeconômicas
        em instituições educacionais. Ao acessar ou utilizar o Portal do Bolsista, você concorda integralmente com
        estes Termos, portanto, leia-os atentamente. Caso não concorde com algum dos termos, não utilize os
        serviços.
        Estes Termos de Uso (“Termos”) descrevem as condições de acesso e utilização do Portal do Bolsista,
        plataforma que visa conectar estudantes de baixa renda com oportunidades de bolsas de estudo socioeconômicas
        em instituições educacionais. Ao acessar ou utilizar o Portal do Bolsista, você concorda integralmente com
        estes Termos, portanto, leia-os atentamente. Caso não concorde com algum dos termos, não utilize os
        serviços.
    </p>

</div>

