.pratccar{
    width: 345px;
    height: 345px;
     padding: 10px;
     align-items: center;
     transform: translate(-50px, -15px);
    margin-bottom: 70px;
    padding: 20px;
  
  }
  
  .black-lions{
    width: 250px;
    padding: 10px;
    margin-left: 60px;
    margin-bottom: 40px;
  }
  
  .mulheres-pela-justica{
    width: 129px;
     height: 128px;
    padding: 12px;
     transform: translate(-70px, -15px);
    margin-right: 60px;
    margin-bottom: 40px;
  
  
  } 
  
  .mr-garvey{
     width: 353px;
    max-width: 100%;
    padding: 20px;
    margin-right: 100px;
    margin-bottom: 40px;
  
  }
  
    
  
  .faixa-cinza{
    width: 100;
    height: 415px;
    top:10%;
    overflow: hidden;
  }
  .faixa-cinza > p{
    transform: translate(80px, 90px);
    font-family: Outfit;
    font-weight: 500;
    font-size: 32.81px;
    color: #215068;
    margin-left: 90px;
   
  }
  .img-fluid-2 {
    margin-left: 50px
  }